/* buttons */
.portlet-body {
      margin: 10px;
}
.btn {
      font-size: 0.8rem;
      border-radius: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      border: none;
      -webkit-transition: ease 0.3s all;
      -ms-transition: ease 0.3s all;
      -o-transition: ease 0.3s all;
      transition: ease 0.3s all;
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: #fff;
      margin: 5px;
}

.btn-submit {
      background-color: #dff9fb;
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #03e9f4;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      margin: 20px 20px 0px 20px;
      letter-spacing: 4px;
}
.btn-submit:hover {
      background: #03e9f4;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.btn-submit span {
      position: absolute;
      display: block;
}
.btn-submit span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
      0% {
            left: -100%;
      }
      50%,
      100% {
            left: 100%;
      }
}
.btn-submit span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: btn-anim2 1s linear infinite;
      animation-delay: 0.25s;
}
@keyframes btn-anim2 {
      0% {
            top: -100%;
      }
      50%,
      100% {
            top: 100%;
      }
}
.btn-submit span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: btn-anim3 1s linear infinite;
      animation-delay: 0.5s;
}
@keyframes btn-anim3 {
      0% {
            right: -100%;
      }
      50%,
      100% {
            right: 100%;
      }
}
.btn-submit span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: btn-anim4 1s linear infinite;
      animation-delay: 0.75s;
}
@keyframes btn-anim4 {
      0% {
            bottom: -100%;
      }
      50%,
      100% {
            bottom: 100%;
      }
}
